<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>コメントを修正しますか？</h4>
        </div>

        <div class="panel-body">
          <%= render "form2" %>
        </div>
        
        
    </div>
</div>
