<div class="container">
  <h1><%= @user.name %>のページ</h1>
  <table>
  <tr>
    <th class="top-font-color">ユーザー名</th>
    <td class="top-font-color"><%= @user.name %></td>
  </tr>
  <tr>
    <th class="top-font-color">メールアドレス</th>
    <td class="top-font-color"><%= @user.email %></td>
  </tr>
  </table>
  <br><br>
  <h1>お気に入り一覧</h1>
  <table class="table">
    <% @favorites_achievements.each do |fav| %>
    <tr class="warning">
      <td class="warning"><%= link_to "#{fav.content}", achievement_path(fav.id), class:"table-font-color" %></td>
    </tr>
    <% end %>
  </table>
</div>