<div class="container">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>つぶやきを編集しますか？</h4>
        </div>

        <div class="panel-body">
            <%= render "form" %>
        </div>
    </div>
</div>