<div class="jumbotron">
  <div class="container">
    <h1>homete</h1>
    <p>ちょっとした家事、毎日のルーチンワーク、背伸びしてがんばったこと、</p>
    <p>hometeでつぶやいてみんなにほめてもらいましょう</p>
    <p>毎日がんばるあなたが少しでも笑顔になれますように</p>
    <a class="btn btn-warning btn-lg" href="/achievement/new" role="button">つぶやく</a>
  </div>
</div>