<div class="jumbotron">
  <div class="container">
    <div></div>
    <h1 class="top-font-color">homete</h1>
    <p class="top-font-color">ちょっとした家事、毎日のルーチンワーク、背伸びしてがんばったこと、</p>
    <p class="top-font-color">hometeでつぶやいてみんなにほめてもらいましょう</p>
    <p class="top-font-color">毎日がんばるあなたが少しでも笑顔になれますように</p>
    <a class="btn btn-warning btn-lg" href="/achievement/new" role="button">つぶやく</a>
  </div>
</div>

<div class="row">
  <h1 class="col-md-offset-5 col-md-2 col-sm-offset-5 col-sm-6 col-xs-offset-4 col-xs-6 top-font-color">Concept</h1>
</div>
<br>
<div class="row">
  <div class="col-md-offset-1 col-md-2 col-sm-offset-5 col-sm-6 col-xs-offset-4 col-xs-6">
    <%= image_tag 'tweet.png'%>
    <h3 class="top-font-color"> 1.つぶやく</h3>
  </div>
  <div class="col-md-offset-2 col-md-2 col-sm-offset-5 col-sm-6 col-xs-offset-4 col-xs-6">
    <%= image_tag 'comment.png'%>
    <h3 class="top-font-color">2.ほめてみる</h3>
  </div>
  <div class="col-md-offset-2 col-md-2 col-sm-offset-5 col-sm-6 col-xs-offset-4 col-xs-6">
    <%= image_tag 'happy.png'%>
    <h3 class="top-font-color">3.みんな幸せ！</h3>
  </div>
</div>
